* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Kalam', cursive;
}
.psychButton {
    display: none;
}
.memoryContainer {
    height: 400px;
    width: 385px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memoryCard {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    border-radius: 3px; 
}
.memoryCard:active {
    transform: scale(.97);
    transition: transform .2s;
}
.frontFace,
.backFace {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    backface-visibility: hidden;
}
.memoryCard.flip {
    transform: rotateY(180deg);
}
.frontFace {
    transform: rotateY(180deg);
}
@media (min-width: 750px) {
    body.psychMode {
        background: url(../CSS/background/background.gif) no-repeat center;
        background-size: cover;
        color: #fff;
    }
    .psychButton {
        display: block;
    }
    .memoryContainer {
        height: 500px;
        width: 500px;
    }
    .memoryCard {
        width: 100px;
        height: 100px;  
        margin: 10px; 
    }
  }